<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="/send" method="POST">
        <input name="mail" placeholder="Mail của bạn..." required>
        <button type="submit">Gửi</button>
    </form>
</body>
</html>